clouds:
  otc:
    profile: otc
    auth:
      username: '{{ otc_username }}'
      password: '{{ otc_password }}'
      project_name: '{{ otc_project_name }}'
      # or project_id: '<123456_PROJECT_ID>'
      user_domain_name: '{{ otc_domain_name }}'
      # or user_domain_id: '<123456_DOMAIN_ID>'
      auth_url: 'https://iam.eu-de.otc.t-systems.com:443/v3'
    interface: 'public'
    identity_api_version: 3 # !Important
    ak: '{{ otc_accews_key }}' # AK/SK pair for access to OBS
    sk: '{{ otc_secret_key }}'
